<!-- <div class="container"> -->
  <section class="section">
    <div class="columns">
      <div class="column">
        <canvas #firstImg width="800" height="600"></canvas>
      </div>
      <div class="column">
        <canvas #secondImg width="800" height="600"></canvas>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <canvas #thirdImg width="800" height="600"></canvas>
      </div>
      <div class="column">
        <canvas #fourthImg width="800" height="600"></canvas>
      </div>
    </div>
  </section>
<!-- </div> -->
