/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1062px 1317px #fff, 284px 1295px #fff, 169px 1250px #fff,
    1783px 770px #fff, 1028px 81px #fff, 1038px 1377px #fff, 323px 1233px #fff,
    408px 801px #fff, 836px 1442px #fff, 1069px 555px #fff, 1456px 305px #fff,
    291px 1118px #fff, 1756px 284px #fff, 1730px 1692px #fff, 566px 1562px #fff,
    788px 1769px #fff, 1716px 1301px #fff, 1250px 1588px #fff, 691px 1490px #fff,
    165px 1830px #fff, 658px 158px #fff, 165px 433px #fff, 1620px 854px #fff,
    1401px 700px #fff, 1850px 371px #fff, 463px 1430px #fff, 1779px 1406px #fff,
    154px 330px #fff, 589px 482px #fff, 1581px 284px #fff, 1839px 927px #fff,
    1850px 1413px #fff, 1768px 1844px #fff, 1846px 771px #fff, 320px 368px #fff,
    1450px 1314px #fff, 47px 415px #fff, 1171px 546px #fff, 1152px 142px #fff,
    252px 1401px #fff, 1798px 400px #fff, 542px 1091px #fff, 663px 1850px #fff,
    1018px 1918px #fff, 1975px 1771px #fff, 1789px 938px #fff, 919px 1290px #fff,
    277px 103px #fff, 23px 1125px #fff, 364px 183px #fff, 792px 1991px #fff,
    1709px 1178px #fff, 27px 742px #fff, 207px 449px #fff, 1896px 65px #fff,
    646px 1544px #fff, 1310px 1689px #fff, 120px 1710px #fff, 1479px 480px #fff,
    1843px 1392px #fff, 628px 238px #fff, 1765px 1499px #fff, 1731px 909px #fff,
    1920px 1510px #fff, 32px 385px #fff, 845px 700px #fff, 1996px 202px #fff,
    25px 55px #fff, 379px 1594px #fff, 1702px 1292px #fff, 1578px 461px #fff,
    63px 1891px #fff, 181px 833px #fff, 717px 215px #fff, 1999px 1510px #fff,
    1584px 1141px #fff, 1751px 936px #fff, 916px 238px #fff, 1582px 302px #fff,
    517px 254px #fff, 1381px 599px #fff, 1355px 900px #fff, 378px 1560px #fff,
    203px 63px #fff, 1316px 1099px #fff, 1691px 983px #fff, 633px 1352px #fff,
    1766px 396px #fff, 840px 1137px #fff, 847px 247px #fff, 1107px 864px #fff,
    547px 1050px #fff, 951px 34px #fff, 1628px 1748px #fff, 1182px 955px #fff,
    1095px 334px #fff, 1737px 1973px #fff, 272px 1773px #fff, 1475px 1388px #fff,
    1555px 1229px #fff, 1611px 1657px #fff, 1843px 907px #fff, 1141px 994px #fff,
    1304px 1071px #fff, 257px 1202px #fff, 937px 872px #fff, 13px 202px #fff,
    1651px 1642px #fff, 406px 1906px #fff, 668px 1015px #fff, 812px 1724px #fff,
    229px 1570px #fff, 131px 883px #fff, 403px 419px #fff, 980px 913px #fff,
    655px 796px #fff, 1679px 904px #fff, 1052px 1418px #fff, 598px 1293px #fff,
    885px 1173px #fff, 1783px 329px #fff, 1799px 251px #fff, 484px 37px #fff,
    78px 1238px #fff, 1667px 69px #fff, 429px 1703px #fff, 1739px 1880px #fff,
    1285px 1099px #fff, 892px 100px #fff, 758px 1601px #fff, 1890px 1617px #fff,
    1796px 164px #fff, 1417px 155px #fff, 1261px 1736px #fff, 1999px 1260px #fff,
    1004px 1092px #fff, 1127px 435px #fff, 1475px 745px #fff, 1786px 619px #fff,
    1314px 898px #fff, 1541px 1397px #fff, 1288px 962px #fff, 1207px 1286px #fff,
    527px 1998px #fff, 493px 1037px #fff, 344px 800px #fff, 1699px 608px #fff,
    1231px 1756px #fff, 930px 149px #fff, 1534px 1180px #fff, 124px 1971px #fff,
    1243px 894px #fff, 1607px 1430px #fff, 236px 1051px #fff, 1122px 1097px #fff,
    1636px 1479px #fff, 1240px 1170px #fff, 334px 766px #fff, 251px 1226px #fff,
    719px 241px #fff, 1586px 1148px #fff, 703px 1354px #fff, 110px 282px #fff,
    860px 907px #fff, 1384px 226px #fff, 1516px 1336px #fff, 1944px 343px #fff,
    592px 795px #fff, 1412px 1000px #fff, 1893px 1381px #fff, 1023px 1137px #fff,
    1773px 8px #fff, 260px 505px #fff, 156px 1958px #fff, 1363px 1262px #fff,
    672px 1938px #fff, 1813px 939px #fff, 1173px 1195px #fff, 1150px 1001px #fff,
    1260px 1242px #fff, 1826px 1326px #fff, 663px 764px #fff, 1054px 1049px #fff,
    1999px 436px #fff, 1096px 593px #fff, 1568px 594px #fff, 1114px 1910px #fff,
    899px 1536px #fff, 1445px 1189px #fff, 1507px 1747px #fff, 599px 1261px #fff,
    877px 281px #fff, 681px 325px #fff, 1491px 1979px #fff, 1942px 910px #fff,
    1183px 856px #fff, 1696px 1637px #fff, 728px 1455px #fff, 755px 1565px #fff,
    1383px 748px #fff, 1047px 562px #fff, 196px 1438px #fff, 953px 25px #fff,
    1388px 413px #fff, 648px 1936px #fff, 950px 835px #fff, 508px 4px #fff,
    945px 1462px #fff, 1740px 577px #fff, 1808px 511px #fff, 1588px 491px #fff,
    1002px 1045px #fff, 490px 1583px #fff, 445px 183px #fff, 1902px 334px #fff,
    579px 311px #fff, 1250px 647px #fff, 1138px 96px #fff, 1801px 1879px #fff,
    474px 377px #fff, 1075px 271px #fff, 1276px 1761px #fff, 397px 1758px #fff,
    421px 555px #fff, 1778px 888px #fff, 1924px 812px #fff, 1978px 1543px #fff,
    83px 690px #fff, 784px 634px #fff, 104px 1595px #fff, 877px 1235px #fff,
    427px 654px #fff, 982px 267px #fff, 1453px 692px #fff, 1944px 1251px #fff,
    661px 344px #fff, 665px 1043px #fff, 367px 1292px #fff, 1556px 1733px #fff,
    1089px 1471px #fff, 1017px 479px #fff, 1398px 1248px #fff,
    1453px 1414px #fff, 309px 1465px #fff, 1592px 795px #fff, 1392px 1642px #fff,
    948px 1613px #fff, 691px 1418px #fff, 201px 491px #fff, 1053px 1676px #fff,
    1252px 49px #fff, 1701px 702px #fff, 1818px 1613px #fff, 1496px 1663px #fff,
    945px 1425px #fff, 1115px 1916px #fff, 1754px 367px #fff, 1081px 1624px #fff,
    1994px 347px #fff, 293px 1871px #fff, 496px 1176px #fff, 520px 1156px #fff,
    1579px 746px #fff, 716px 1981px #fff, 1228px 1614px #fff, 931px 1331px #fff,
    1237px 271px #fff, 873px 1500px #fff, 1738px 700px #fff, 1367px 678px #fff,
    162px 1609px #fff, 661px 516px #fff, 847px 225px #fff, 546px 1405px #fff,
    159px 1143px #fff, 125px 488px #fff, 611px 1036px #fff, 1263px 1466px #fff,
    993px 1321px #fff, 494px 1980px #fff, 1670px 1332px #fff, 359px 661px #fff,
    371px 38px #fff, 470px 1354px #fff, 1706px 1571px #fff, 1152px 1410px #fff,
    254px 1954px #fff, 926px 1356px #fff, 61px 1645px #fff, 433px 1796px #fff,
    482px 1283px #fff, 605px 1654px #fff, 925px 658px #fff, 1871px 379px #fff,
    323px 243px #fff, 1232px 389px #fff, 1191px 1404px #fff, 1112px 644px #fff,
    1812px 1712px #fff, 1708px 1576px #fff, 1603px 403px #fff, 382px 1342px #fff,
    1754px 1032px #fff, 805px 47px #fff, 583px 1439px #fff, 706px 1574px #fff,
    1871px 636px #fff, 653px 1496px #fff, 1459px 701px #fff, 892px 391px #fff,
    1280px 182px #fff, 28px 1910px #fff, 538px 1379px #fff, 1958px 1058px #fff,
    463px 1162px #fff, 446px 353px #fff, 1884px 107px #fff, 1236px 495px #fff,
    1363px 1672px #fff, 1520px 911px #fff, 510px 273px #fff, 1888px 1116px #fff,
    1595px 1666px #fff, 1322px 942px #fff, 95px 1676px #fff, 629px 311px #fff,
    396px 1568px #fff, 1071px 492px #fff, 1901px 1628px #fff, 1296px 79px #fff,
    545px 1291px #fff, 15px 877px #fff, 764px 1538px #fff, 1739px 563px #fff,
    1658px 484px #fff, 423px 168px #fff, 1273px 1644px #fff, 1303px 1245px #fff,
    296px 552px #fff, 468px 1586px #fff, 1951px 1288px #fff, 1761px 326px #fff,
    1015px 816px #fff, 1619px 350px #fff, 1340px 1613px #fff, 1849px 1618px #fff,
    1015px 1436px #fff, 65px 700px #fff, 1540px 602px #fff, 1711px 921px #fff,
    589px 1265px #fff, 777px 1726px #fff, 186px 1175px #fff, 1992px 624px #fff,
    1132px 1675px #fff, 1852px 1342px #fff, 1599px 834px #fff, 128px 278px #fff,
    625px 1504px #fff, 1250px 1116px #fff, 435px 1204px #fff, 1500px 1592px #fff,
    1764px 1754px #fff, 910px 356px #fff, 706px 1582px #fff, 790px 507px #fff,
    530px 269px #fff, 1592px 579px #fff, 647px 11px #fff, 1812px 1326px #fff,
    106px 1159px #fff, 1414px 767px #fff, 794px 732px #fff, 1096px 187px #fff,
    1127px 544px #fff, 831px 1065px #fff, 188px 675px #fff, 407px 1035px #fff,
    1601px 1573px #fff, 758px 1548px #fff, 96px 1688px #fff, 1750px 843px #fff,
    515px 1185px #fff, 1380px 1316px #fff, 1710px 1401px #fff, 642px 1328px #fff,
    1543px 1469px #fff, 460px 1445px #fff, 277px 472px #fff, 471px 739px #fff,
    1858px 1244px #fff, 917px 1649px #fff, 1569px 506px #fff, 1215px 21px #fff,
    665px 777px #fff, 1102px 28px #fff, 616px 1139px #fff, 1794px 1502px #fff,
    1827px 1722px #fff, 1509px 539px #fff, 98px 1398px #fff, 1332px 228px #fff,
    294px 783px #fff, 1578px 67px #fff, 61px 353px #fff, 1911px 1000px #fff,
    1161px 769px #fff, 1847px 1882px #fff, 348px 1363px #fff, 381px 694px #fff,
    858px 1565px #fff, 921px 295px #fff, 26px 192px #fff, 1985px 1812px #fff,
    326px 248px #fff, 190px 1361px #fff, 34px 1462px #fff, 1031px 829px #fff,
    990px 1921px #fff, 1986px 1240px #fff, 1888px 1496px #fff,
    1663px 1844px #fff, 1401px 957px #fff, 795px 1254px #fff, 1559px 8px #fff,
    1210px 719px #fff, 1328px 1408px #fff, 773px 300px #fff, 317px 1220px #fff,
    897px 913px #fff, 1420px 965px #fff, 1443px 1858px #fff, 303px 678px #fff,
    1129px 1189px #fff, 691px 1143px #fff, 651px 1196px #fff, 221px 1601px #fff,
    523px 865px #fff, 241px 212px #fff, 832px 1743px #fff, 1246px 960px #fff,
    355px 1775px #fff, 766px 557px #fff, 719px 435px #fff, 441px 1703px #fff,
    1946px 516px #fff, 80px 660px #fff, 1250px 291px #fff, 1129px 1205px #fff,
    1872px 934px #fff, 1454px 1066px #fff, 74px 130px #fff, 1602px 58px #fff,
    403px 1269px #fff, 22px 877px #fff, 982px 1989px #fff, 73px 279px #fff,
    1927px 1151px #fff, 778px 1352px #fff, 1007px 1906px #fff, 881px 1888px #fff,
    1122px 1668px #fff, 1446px 994px #fff, 1983px 1928px #fff,
    1271px 1240px #fff, 70px 720px #fff, 927px 791px #fff, 126px 1093px #fff,
    238px 601px #fff, 1846px 1149px #fff, 548px 670px #fff, 67px 1534px #fff,
    696px 732px #fff, 1659px 149px #fff, 260px 205px #fff, 1793px 3px #fff,
    1143px 340px #fff, 370px 1824px #fff, 91px 1852px #fff, 413px 1179px #fff,
    1597px 38px #fff, 1076px 422px #fff, 711px 1480px #fff, 1827px 727px #fff,
    1295px 1351px #fff, 98px 230px #fff, 1404px 349px #fff, 21px 591px #fff,
    587px 1533px #fff, 770px 964px #fff, 304px 590px #fff, 1599px 750px #fff,
    1745px 1740px #fff, 1735px 137px #fff, 1389px 1246px #fff, 777px 295px #fff,
    1821px 689px #fff, 380px 812px #fff, 7px 491px #fff, 954px 811px #fff,
    1978px 574px #fff, 1624px 1713px #fff, 1744px 1858px #fff, 491px 12px #fff,
    791px 1073px #fff, 34px 1866px #fff, 1112px 847px #fff, 1245px 1231px #fff,
    1214px 1260px #fff, 379px 57px #fff, 10px 1342px #fff, 956px 1494px #fff,
    1402px 427px #fff, 1572px 199px #fff, 1565px 667px #fff, 1773px 954px #fff,
    1592px 1089px #fff, 693px 1563px #fff, 579px 1302px #fff, 1369px 1032px #fff,
    110px 888px #fff, 1797px 1369px #fff, 28px 1768px #fff, 240px 1202px #fff,
    804px 1148px #fff, 444px 1837px #fff, 742px 1189px #fff, 860px 304px #fff,
    1815px 1234px #fff, 1595px 1205px #fff, 1734px 1489px #fff,
    1040px 1474px #fff, 1469px 161px #fff, 1467px 3px #fff, 1028px 900px #fff,
    895px 585px #fff, 863px 1775px #fff, 454px 388px #fff, 1788px 1794px #fff,
    1414px 1166px #fff, 604px 452px #fff, 717px 127px #fff, 1757px 1020px #fff,
    557px 1704px #fff, 328px 207px #fff, 1023px 758px #fff, 1015px 1694px #fff,
    1671px 241px #fff, 1809px 700px #fff, 849px 1757px #fff, 1434px 1358px #fff,
    1786px 1421px #fff, 707px 1703px #fff, 1856px 1784px #fff, 587px 450px #fff,
    86px 1919px #fff, 739px 1681px #fff, 1404px 875px #fff, 628px 133px #fff,
    1950px 917px #fff, 807px 1390px #fff, 472px 1780px #fff, 1433px 1652px #fff,
    1062px 434px #fff, 264px 1700px #fff, 999px 853px #fff, 549px 1014px #fff,
    1903px 13px #fff, 974px 517px #fff, 1827px 1379px #fff, 1655px 710px #fff,
    1563px 380px #fff, 1018px 1542px #fff, 1323px 1853px #fff, 1498px 904px #fff,
    1633px 1721px #fff, 28px 1820px #fff, 1699px 65px #fff, 1695px 1294px #fff,
    451px 423px #fff, 519px 1928px #fff, 267px 4px #fff, 916px 1714px #fff,
    343px 1548px #fff, 1946px 1901px #fff, 1279px 1641px #fff, 1839px 229px #fff,
    367px 1405px #fff, 309px 1521px #fff, 64px 382px #fff, 1112px 1697px #fff,
    512px 266px #fff, 1000px 355px #fff, 478px 1857px #fff, 1752px 50px #fff,
    32px 633px #fff, 206px 203px #fff, 166px 212px #fff, 1697px 1629px #fff,
    92px 53px #fff, 1612px 28px #fff, 1434px 1400px #fff, 591px 1150px #fff,
    1506px 1788px #fff, 922px 1127px #fff, 1501px 450px #fff, 116px 1986px #fff,
    761px 810px #fff, 1298px 1263px #fff, 846px 208px #fff, 1229px 652px #fff,
    527px 1386px #fff, 473px 766px #fff, 1442px 1144px #fff, 579px 464px #fff,
    1442px 452px #fff, 1966px 899px #fff, 675px 218px #fff, 328px 334px #fff,
    1798px 1747px #fff, 1044px 940px #fff, 321px 1405px #fff, 559px 311px #fff,
    323px 1264px #fff, 1777px 1336px #fff, 43px 1595px #fff, 1716px 750px #fff,
    828px 97px #fff, 837px 1061px #fff, 893px 638px #fff, 1750px 752px #fff,
    17px 1053px #fff, 1502px 1215px #fff, 863px 1735px #fff, 239px 1445px #fff,
    525px 578px #fff, 443px 875px #fff, 1541px 73px #fff, 1995px 1725px #fff,
    1787px 1388px #fff, 1693px 491px #fff, 1447px 1229px #fff,
    1410px 1847px #fff, 1301px 1381px #fff, 1229px 1422px #fff, 232px 484px #fff,
    147px 873px #fff, 1480px 1752px #fff, 1534px 453px #fff, 1751px 829px #fff,
    1683px 1457px #fff, 600px 1736px #fff, 427px 1066px #fff, 602px 1481px #fff,
    248px 403px #fff, 858px 173px #fff, 976px 1604px #fff, 1478px 1430px #fff,
    904px 1750px #fff, 1652px 1684px #fff, 1483px 460px #fff, 495px 900px #fff,
    519px 1317px #fff, 392px 589px #fff, 1186px 622px #fff, 212px 977px #fff,
    1209px 657px #fff, 767px 560px #fff, 695px 1854px #fff, 1156px 1892px #fff,
    922px 360px #fff, 932px 987px #fff, 1311px 1754px #fff, 1617px 1236px #fff,
    499px 7px #fff, 1053px 1262px #fff, 1753px 760px #fff, 1986px 1030px #fff,
    555px 1028px #fff, 355px 1537px #fff, 775px 752px #fff, 318px 945px #fff,
    678px 104px #fff, 747px 406px #fff, 1663px 813px #fff, 1603px 531px #fff,
    507px 1674px #fff, 1627px 499px #fff, 1223px 702px #fff, 981px 42px #fff,
    188px 698px #fff, 1956px 1483px #fff, 1138px 1795px #fff, 319px 1957px #fff,
    746px 1106px #fff, 409px 914px #fff, 1645px 51px #fff, 1113px 1588px #fff,
    654px 1977px #fff, 941px 497px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1062px 1317px #fff, 284px 1295px #fff, 169px 1250px #fff,
    1783px 770px #fff, 1028px 81px #fff, 1038px 1377px #fff, 323px 1233px #fff,
    408px 801px #fff, 836px 1442px #fff, 1069px 555px #fff, 1456px 305px #fff,
    291px 1118px #fff, 1756px 284px #fff, 1730px 1692px #fff, 566px 1562px #fff,
    788px 1769px #fff, 1716px 1301px #fff, 1250px 1588px #fff, 691px 1490px #fff,
    165px 1830px #fff, 658px 158px #fff, 165px 433px #fff, 1620px 854px #fff,
    1401px 700px #fff, 1850px 371px #fff, 463px 1430px #fff, 1779px 1406px #fff,
    154px 330px #fff, 589px 482px #fff, 1581px 284px #fff, 1839px 927px #fff,
    1850px 1413px #fff, 1768px 1844px #fff, 1846px 771px #fff, 320px 368px #fff,
    1450px 1314px #fff, 47px 415px #fff, 1171px 546px #fff, 1152px 142px #fff,
    252px 1401px #fff, 1798px 400px #fff, 542px 1091px #fff, 663px 1850px #fff,
    1018px 1918px #fff, 1975px 1771px #fff, 1789px 938px #fff, 919px 1290px #fff,
    277px 103px #fff, 23px 1125px #fff, 364px 183px #fff, 792px 1991px #fff,
    1709px 1178px #fff, 27px 742px #fff, 207px 449px #fff, 1896px 65px #fff,
    646px 1544px #fff, 1310px 1689px #fff, 120px 1710px #fff, 1479px 480px #fff,
    1843px 1392px #fff, 628px 238px #fff, 1765px 1499px #fff, 1731px 909px #fff,
    1920px 1510px #fff, 32px 385px #fff, 845px 700px #fff, 1996px 202px #fff,
    25px 55px #fff, 379px 1594px #fff, 1702px 1292px #fff, 1578px 461px #fff,
    63px 1891px #fff, 181px 833px #fff, 717px 215px #fff, 1999px 1510px #fff,
    1584px 1141px #fff, 1751px 936px #fff, 916px 238px #fff, 1582px 302px #fff,
    517px 254px #fff, 1381px 599px #fff, 1355px 900px #fff, 378px 1560px #fff,
    203px 63px #fff, 1316px 1099px #fff, 1691px 983px #fff, 633px 1352px #fff,
    1766px 396px #fff, 840px 1137px #fff, 847px 247px #fff, 1107px 864px #fff,
    547px 1050px #fff, 951px 34px #fff, 1628px 1748px #fff, 1182px 955px #fff,
    1095px 334px #fff, 1737px 1973px #fff, 272px 1773px #fff, 1475px 1388px #fff,
    1555px 1229px #fff, 1611px 1657px #fff, 1843px 907px #fff, 1141px 994px #fff,
    1304px 1071px #fff, 257px 1202px #fff, 937px 872px #fff, 13px 202px #fff,
    1651px 1642px #fff, 406px 1906px #fff, 668px 1015px #fff, 812px 1724px #fff,
    229px 1570px #fff, 131px 883px #fff, 403px 419px #fff, 980px 913px #fff,
    655px 796px #fff, 1679px 904px #fff, 1052px 1418px #fff, 598px 1293px #fff,
    885px 1173px #fff, 1783px 329px #fff, 1799px 251px #fff, 484px 37px #fff,
    78px 1238px #fff, 1667px 69px #fff, 429px 1703px #fff, 1739px 1880px #fff,
    1285px 1099px #fff, 892px 100px #fff, 758px 1601px #fff, 1890px 1617px #fff,
    1796px 164px #fff, 1417px 155px #fff, 1261px 1736px #fff, 1999px 1260px #fff,
    1004px 1092px #fff, 1127px 435px #fff, 1475px 745px #fff, 1786px 619px #fff,
    1314px 898px #fff, 1541px 1397px #fff, 1288px 962px #fff, 1207px 1286px #fff,
    527px 1998px #fff, 493px 1037px #fff, 344px 800px #fff, 1699px 608px #fff,
    1231px 1756px #fff, 930px 149px #fff, 1534px 1180px #fff, 124px 1971px #fff,
    1243px 894px #fff, 1607px 1430px #fff, 236px 1051px #fff, 1122px 1097px #fff,
    1636px 1479px #fff, 1240px 1170px #fff, 334px 766px #fff, 251px 1226px #fff,
    719px 241px #fff, 1586px 1148px #fff, 703px 1354px #fff, 110px 282px #fff,
    860px 907px #fff, 1384px 226px #fff, 1516px 1336px #fff, 1944px 343px #fff,
    592px 795px #fff, 1412px 1000px #fff, 1893px 1381px #fff, 1023px 1137px #fff,
    1773px 8px #fff, 260px 505px #fff, 156px 1958px #fff, 1363px 1262px #fff,
    672px 1938px #fff, 1813px 939px #fff, 1173px 1195px #fff, 1150px 1001px #fff,
    1260px 1242px #fff, 1826px 1326px #fff, 663px 764px #fff, 1054px 1049px #fff,
    1999px 436px #fff, 1096px 593px #fff, 1568px 594px #fff, 1114px 1910px #fff,
    899px 1536px #fff, 1445px 1189px #fff, 1507px 1747px #fff, 599px 1261px #fff,
    877px 281px #fff, 681px 325px #fff, 1491px 1979px #fff, 1942px 910px #fff,
    1183px 856px #fff, 1696px 1637px #fff, 728px 1455px #fff, 755px 1565px #fff,
    1383px 748px #fff, 1047px 562px #fff, 196px 1438px #fff, 953px 25px #fff,
    1388px 413px #fff, 648px 1936px #fff, 950px 835px #fff, 508px 4px #fff,
    945px 1462px #fff, 1740px 577px #fff, 1808px 511px #fff, 1588px 491px #fff,
    1002px 1045px #fff, 490px 1583px #fff, 445px 183px #fff, 1902px 334px #fff,
    579px 311px #fff, 1250px 647px #fff, 1138px 96px #fff, 1801px 1879px #fff,
    474px 377px #fff, 1075px 271px #fff, 1276px 1761px #fff, 397px 1758px #fff,
    421px 555px #fff, 1778px 888px #fff, 1924px 812px #fff, 1978px 1543px #fff,
    83px 690px #fff, 784px 634px #fff, 104px 1595px #fff, 877px 1235px #fff,
    427px 654px #fff, 982px 267px #fff, 1453px 692px #fff, 1944px 1251px #fff,
    661px 344px #fff, 665px 1043px #fff, 367px 1292px #fff, 1556px 1733px #fff,
    1089px 1471px #fff, 1017px 479px #fff, 1398px 1248px #fff,
    1453px 1414px #fff, 309px 1465px #fff, 1592px 795px #fff, 1392px 1642px #fff,
    948px 1613px #fff, 691px 1418px #fff, 201px 491px #fff, 1053px 1676px #fff,
    1252px 49px #fff, 1701px 702px #fff, 1818px 1613px #fff, 1496px 1663px #fff,
    945px 1425px #fff, 1115px 1916px #fff, 1754px 367px #fff, 1081px 1624px #fff,
    1994px 347px #fff, 293px 1871px #fff, 496px 1176px #fff, 520px 1156px #fff,
    1579px 746px #fff, 716px 1981px #fff, 1228px 1614px #fff, 931px 1331px #fff,
    1237px 271px #fff, 873px 1500px #fff, 1738px 700px #fff, 1367px 678px #fff,
    162px 1609px #fff, 661px 516px #fff, 847px 225px #fff, 546px 1405px #fff,
    159px 1143px #fff, 125px 488px #fff, 611px 1036px #fff, 1263px 1466px #fff,
    993px 1321px #fff, 494px 1980px #fff, 1670px 1332px #fff, 359px 661px #fff,
    371px 38px #fff, 470px 1354px #fff, 1706px 1571px #fff, 1152px 1410px #fff,
    254px 1954px #fff, 926px 1356px #fff, 61px 1645px #fff, 433px 1796px #fff,
    482px 1283px #fff, 605px 1654px #fff, 925px 658px #fff, 1871px 379px #fff,
    323px 243px #fff, 1232px 389px #fff, 1191px 1404px #fff, 1112px 644px #fff,
    1812px 1712px #fff, 1708px 1576px #fff, 1603px 403px #fff, 382px 1342px #fff,
    1754px 1032px #fff, 805px 47px #fff, 583px 1439px #fff, 706px 1574px #fff,
    1871px 636px #fff, 653px 1496px #fff, 1459px 701px #fff, 892px 391px #fff,
    1280px 182px #fff, 28px 1910px #fff, 538px 1379px #fff, 1958px 1058px #fff,
    463px 1162px #fff, 446px 353px #fff, 1884px 107px #fff, 1236px 495px #fff,
    1363px 1672px #fff, 1520px 911px #fff, 510px 273px #fff, 1888px 1116px #fff,
    1595px 1666px #fff, 1322px 942px #fff, 95px 1676px #fff, 629px 311px #fff,
    396px 1568px #fff, 1071px 492px #fff, 1901px 1628px #fff, 1296px 79px #fff,
    545px 1291px #fff, 15px 877px #fff, 764px 1538px #fff, 1739px 563px #fff,
    1658px 484px #fff, 423px 168px #fff, 1273px 1644px #fff, 1303px 1245px #fff,
    296px 552px #fff, 468px 1586px #fff, 1951px 1288px #fff, 1761px 326px #fff,
    1015px 816px #fff, 1619px 350px #fff, 1340px 1613px #fff, 1849px 1618px #fff,
    1015px 1436px #fff, 65px 700px #fff, 1540px 602px #fff, 1711px 921px #fff,
    589px 1265px #fff, 777px 1726px #fff, 186px 1175px #fff, 1992px 624px #fff,
    1132px 1675px #fff, 1852px 1342px #fff, 1599px 834px #fff, 128px 278px #fff,
    625px 1504px #fff, 1250px 1116px #fff, 435px 1204px #fff, 1500px 1592px #fff,
    1764px 1754px #fff, 910px 356px #fff, 706px 1582px #fff, 790px 507px #fff,
    530px 269px #fff, 1592px 579px #fff, 647px 11px #fff, 1812px 1326px #fff,
    106px 1159px #fff, 1414px 767px #fff, 794px 732px #fff, 1096px 187px #fff,
    1127px 544px #fff, 831px 1065px #fff, 188px 675px #fff, 407px 1035px #fff,
    1601px 1573px #fff, 758px 1548px #fff, 96px 1688px #fff, 1750px 843px #fff,
    515px 1185px #fff, 1380px 1316px #fff, 1710px 1401px #fff, 642px 1328px #fff,
    1543px 1469px #fff, 460px 1445px #fff, 277px 472px #fff, 471px 739px #fff,
    1858px 1244px #fff, 917px 1649px #fff, 1569px 506px #fff, 1215px 21px #fff,
    665px 777px #fff, 1102px 28px #fff, 616px 1139px #fff, 1794px 1502px #fff,
    1827px 1722px #fff, 1509px 539px #fff, 98px 1398px #fff, 1332px 228px #fff,
    294px 783px #fff, 1578px 67px #fff, 61px 353px #fff, 1911px 1000px #fff,
    1161px 769px #fff, 1847px 1882px #fff, 348px 1363px #fff, 381px 694px #fff,
    858px 1565px #fff, 921px 295px #fff, 26px 192px #fff, 1985px 1812px #fff,
    326px 248px #fff, 190px 1361px #fff, 34px 1462px #fff, 1031px 829px #fff,
    990px 1921px #fff, 1986px 1240px #fff, 1888px 1496px #fff,
    1663px 1844px #fff, 1401px 957px #fff, 795px 1254px #fff, 1559px 8px #fff,
    1210px 719px #fff, 1328px 1408px #fff, 773px 300px #fff, 317px 1220px #fff,
    897px 913px #fff, 1420px 965px #fff, 1443px 1858px #fff, 303px 678px #fff,
    1129px 1189px #fff, 691px 1143px #fff, 651px 1196px #fff, 221px 1601px #fff,
    523px 865px #fff, 241px 212px #fff, 832px 1743px #fff, 1246px 960px #fff,
    355px 1775px #fff, 766px 557px #fff, 719px 435px #fff, 441px 1703px #fff,
    1946px 516px #fff, 80px 660px #fff, 1250px 291px #fff, 1129px 1205px #fff,
    1872px 934px #fff, 1454px 1066px #fff, 74px 130px #fff, 1602px 58px #fff,
    403px 1269px #fff, 22px 877px #fff, 982px 1989px #fff, 73px 279px #fff,
    1927px 1151px #fff, 778px 1352px #fff, 1007px 1906px #fff, 881px 1888px #fff,
    1122px 1668px #fff, 1446px 994px #fff, 1983px 1928px #fff,
    1271px 1240px #fff, 70px 720px #fff, 927px 791px #fff, 126px 1093px #fff,
    238px 601px #fff, 1846px 1149px #fff, 548px 670px #fff, 67px 1534px #fff,
    696px 732px #fff, 1659px 149px #fff, 260px 205px #fff, 1793px 3px #fff,
    1143px 340px #fff, 370px 1824px #fff, 91px 1852px #fff, 413px 1179px #fff,
    1597px 38px #fff, 1076px 422px #fff, 711px 1480px #fff, 1827px 727px #fff,
    1295px 1351px #fff, 98px 230px #fff, 1404px 349px #fff, 21px 591px #fff,
    587px 1533px #fff, 770px 964px #fff, 304px 590px #fff, 1599px 750px #fff,
    1745px 1740px #fff, 1735px 137px #fff, 1389px 1246px #fff, 777px 295px #fff,
    1821px 689px #fff, 380px 812px #fff, 7px 491px #fff, 954px 811px #fff,
    1978px 574px #fff, 1624px 1713px #fff, 1744px 1858px #fff, 491px 12px #fff,
    791px 1073px #fff, 34px 1866px #fff, 1112px 847px #fff, 1245px 1231px #fff,
    1214px 1260px #fff, 379px 57px #fff, 10px 1342px #fff, 956px 1494px #fff,
    1402px 427px #fff, 1572px 199px #fff, 1565px 667px #fff, 1773px 954px #fff,
    1592px 1089px #fff, 693px 1563px #fff, 579px 1302px #fff, 1369px 1032px #fff,
    110px 888px #fff, 1797px 1369px #fff, 28px 1768px #fff, 240px 1202px #fff,
    804px 1148px #fff, 444px 1837px #fff, 742px 1189px #fff, 860px 304px #fff,
    1815px 1234px #fff, 1595px 1205px #fff, 1734px 1489px #fff,
    1040px 1474px #fff, 1469px 161px #fff, 1467px 3px #fff, 1028px 900px #fff,
    895px 585px #fff, 863px 1775px #fff, 454px 388px #fff, 1788px 1794px #fff,
    1414px 1166px #fff, 604px 452px #fff, 717px 127px #fff, 1757px 1020px #fff,
    557px 1704px #fff, 328px 207px #fff, 1023px 758px #fff, 1015px 1694px #fff,
    1671px 241px #fff, 1809px 700px #fff, 849px 1757px #fff, 1434px 1358px #fff,
    1786px 1421px #fff, 707px 1703px #fff, 1856px 1784px #fff, 587px 450px #fff,
    86px 1919px #fff, 739px 1681px #fff, 1404px 875px #fff, 628px 133px #fff,
    1950px 917px #fff, 807px 1390px #fff, 472px 1780px #fff, 1433px 1652px #fff,
    1062px 434px #fff, 264px 1700px #fff, 999px 853px #fff, 549px 1014px #fff,
    1903px 13px #fff, 974px 517px #fff, 1827px 1379px #fff, 1655px 710px #fff,
    1563px 380px #fff, 1018px 1542px #fff, 1323px 1853px #fff, 1498px 904px #fff,
    1633px 1721px #fff, 28px 1820px #fff, 1699px 65px #fff, 1695px 1294px #fff,
    451px 423px #fff, 519px 1928px #fff, 267px 4px #fff, 916px 1714px #fff,
    343px 1548px #fff, 1946px 1901px #fff, 1279px 1641px #fff, 1839px 229px #fff,
    367px 1405px #fff, 309px 1521px #fff, 64px 382px #fff, 1112px 1697px #fff,
    512px 266px #fff, 1000px 355px #fff, 478px 1857px #fff, 1752px 50px #fff,
    32px 633px #fff, 206px 203px #fff, 166px 212px #fff, 1697px 1629px #fff,
    92px 53px #fff, 1612px 28px #fff, 1434px 1400px #fff, 591px 1150px #fff,
    1506px 1788px #fff, 922px 1127px #fff, 1501px 450px #fff, 116px 1986px #fff,
    761px 810px #fff, 1298px 1263px #fff, 846px 208px #fff, 1229px 652px #fff,
    527px 1386px #fff, 473px 766px #fff, 1442px 1144px #fff, 579px 464px #fff,
    1442px 452px #fff, 1966px 899px #fff, 675px 218px #fff, 328px 334px #fff,
    1798px 1747px #fff, 1044px 940px #fff, 321px 1405px #fff, 559px 311px #fff,
    323px 1264px #fff, 1777px 1336px #fff, 43px 1595px #fff, 1716px 750px #fff,
    828px 97px #fff, 837px 1061px #fff, 893px 638px #fff, 1750px 752px #fff,
    17px 1053px #fff, 1502px 1215px #fff, 863px 1735px #fff, 239px 1445px #fff,
    525px 578px #fff, 443px 875px #fff, 1541px 73px #fff, 1995px 1725px #fff,
    1787px 1388px #fff, 1693px 491px #fff, 1447px 1229px #fff,
    1410px 1847px #fff, 1301px 1381px #fff, 1229px 1422px #fff, 232px 484px #fff,
    147px 873px #fff, 1480px 1752px #fff, 1534px 453px #fff, 1751px 829px #fff,
    1683px 1457px #fff, 600px 1736px #fff, 427px 1066px #fff, 602px 1481px #fff,
    248px 403px #fff, 858px 173px #fff, 976px 1604px #fff, 1478px 1430px #fff,
    904px 1750px #fff, 1652px 1684px #fff, 1483px 460px #fff, 495px 900px #fff,
    519px 1317px #fff, 392px 589px #fff, 1186px 622px #fff, 212px 977px #fff,
    1209px 657px #fff, 767px 560px #fff, 695px 1854px #fff, 1156px 1892px #fff,
    922px 360px #fff, 932px 987px #fff, 1311px 1754px #fff, 1617px 1236px #fff,
    499px 7px #fff, 1053px 1262px #fff, 1753px 760px #fff, 1986px 1030px #fff,
    555px 1028px #fff, 355px 1537px #fff, 775px 752px #fff, 318px 945px #fff,
    678px 104px #fff, 747px 406px #fff, 1663px 813px #fff, 1603px 531px #fff,
    507px 1674px #fff, 1627px 499px #fff, 1223px 702px #fff, 981px 42px #fff,
    188px 698px #fff, 1956px 1483px #fff, 1138px 1795px #fff, 319px 1957px #fff,
    746px 1106px #fff, 409px 914px #fff, 1645px 51px #fff, 1113px 1588px #fff,
    654px 1977px #fff, 941px 497px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 589px 304px #fff, 1670px 1918px #fff, 220px 1987px #fff,
    748px 1071px #fff, 1074px 1021px #fff, 717px 264px #fff, 1303px 152px #fff,
    669px 117px #fff, 1753px 1125px #fff, 445px 1715px #fff, 1065px 1698px #fff,
    1458px 1974px #fff, 466px 856px #fff, 1766px 1589px #fff, 48px 41px #fff,
    1321px 1770px #fff, 712px 253px #fff, 44px 1225px #fff, 297px 646px #fff,
    1134px 279px #fff, 1815px 1136px #fff, 1502px 1654px #fff, 555px 1967px #fff,
    953px 784px #fff, 1842px 1263px #fff, 597px 1211px #fff, 1814px 301px #fff,
    230px 178px #fff, 563px 1517px #fff, 659px 46px #fff, 1049px 52px #fff,
    1939px 1792px #fff, 1266px 314px #fff, 560px 1405px #fff, 1303px 1652px #fff,
    435px 67px #fff, 564px 1772px #fff, 651px 15px #fff, 114px 1352px #fff,
    1598px 1487px #fff, 1749px 1561px #fff, 573px 1605px #fff, 466px 876px #fff,
    1046px 12px #fff, 1346px 1347px #fff, 595px 857px #fff, 223px 488px #fff,
    366px 227px #fff, 1317px 531px #fff, 934px 24px #fff, 1976px 736px #fff,
    626px 541px #fff, 681px 662px #fff, 1252px 1101px #fff, 34px 1395px #fff,
    579px 989px #fff, 1884px 1784px #fff, 499px 448px #fff, 773px 868px #fff,
    1504px 1367px #fff, 515px 114px #fff, 1349px 223px #fff, 1794px 986px #fff,
    764px 1571px #fff, 1346px 1291px #fff, 1488px 1805px #fff,
    1346px 1492px #fff, 1842px 1655px #fff, 301px 10px #fff, 1108px 679px #fff,
    948px 1861px #fff, 1926px 75px #fff, 272px 1227px #fff, 442px 462px #fff,
    72px 536px #fff, 1024px 66px #fff, 849px 1768px #fff, 1083px 1146px #fff,
    272px 394px #fff, 1666px 1074px #fff, 1537px 62px #fff, 367px 32px #fff,
    496px 771px #fff, 479px 1753px #fff, 1471px 856px #fff, 1765px 1252px #fff,
    391px 1787px #fff, 1490px 91px #fff, 344px 1251px #fff, 251px 29px #fff,
    576px 129px #fff, 97px 1007px #fff, 597px 425px #fff, 84px 1257px #fff,
    641px 762px #fff, 1390px 1163px #fff, 1805px 1196px #fff, 1497px 462px #fff,
    602px 1742px #fff, 1391px 1324px #fff, 1090px 1017px #fff, 688px 1048px #fff,
    1591px 700px #fff, 259px 718px #fff, 1112px 1518px #fff, 1888px 1953px #fff,
    931px 1596px #fff, 1698px 360px #fff, 39px 1596px #fff, 474px 1942px #fff,
    399px 1239px #fff, 1858px 29px #fff, 485px 643px #fff, 442px 397px #fff,
    535px 1691px #fff, 848px 249px #fff, 22px 794px #fff, 1742px 494px #fff,
    1348px 708px #fff, 760px 362px #fff, 1421px 1481px #fff, 94px 1340px #fff,
    48px 1049px #fff, 1711px 1352px #fff, 650px 434px #fff, 1691px 1024px #fff,
    3px 1950px #fff, 1073px 1389px #fff, 1007px 897px #fff, 1788px 1058px #fff,
    1362px 164px #fff, 1742px 558px #fff, 1285px 1426px #fff, 1134px 377px #fff,
    1061px 143px #fff, 1080px 343px #fff, 1825px 1321px #fff, 1136px 1774px #fff,
    382px 1804px #fff, 556px 1533px #fff, 1119px 1072px #fff, 139px 898px #fff,
    300px 18px #fff, 876px 1211px #fff, 1823px 1299px #fff, 750px 267px #fff,
    1010px 1223px #fff, 890px 625px #fff, 359px 475px #fff, 106px 686px #fff,
    249px 1159px #fff, 389px 6px #fff, 960px 816px #fff, 1828px 352px #fff,
    241px 433px #fff, 1696px 397px #fff, 752px 1594px #fff, 1118px 976px #fff,
    889px 1067px #fff, 1179px 369px #fff, 61px 589px #fff, 234px 93px #fff,
    997px 1384px #fff, 726px 1787px #fff, 1099px 1928px #fff, 957px 1755px #fff,
    1891px 336px #fff, 864px 247px #fff, 815px 276px #fff, 1281px 566px #fff,
    1963px 1349px #fff, 1675px 1854px #fff, 1592px 1009px #fff, 1799px 53px #fff,
    1967px 877px #fff, 270px 1857px #fff, 936px 432px #fff, 693px 420px #fff,
    1403px 420px #fff, 308px 396px #fff, 578px 1923px #fff, 1096px 1270px #fff,
    414px 1247px #fff, 27px 233px #fff, 668px 612px #fff, 1521px 94px #fff,
    1848px 275px #fff, 1368px 72px #fff, 1683px 559px #fff, 798px 240px #fff,
    630px 1849px #fff, 568px 1100px #fff, 1305px 496px #fff, 97px 929px #fff,
    1143px 163px #fff, 1617px 585px #fff, 740px 1952px #fff, 559px 259px #fff,
    771px 1598px #fff, 171px 1201px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 589px 304px #fff, 1670px 1918px #fff, 220px 1987px #fff,
    748px 1071px #fff, 1074px 1021px #fff, 717px 264px #fff, 1303px 152px #fff,
    669px 117px #fff, 1753px 1125px #fff, 445px 1715px #fff, 1065px 1698px #fff,
    1458px 1974px #fff, 466px 856px #fff, 1766px 1589px #fff, 48px 41px #fff,
    1321px 1770px #fff, 712px 253px #fff, 44px 1225px #fff, 297px 646px #fff,
    1134px 279px #fff, 1815px 1136px #fff, 1502px 1654px #fff, 555px 1967px #fff,
    953px 784px #fff, 1842px 1263px #fff, 597px 1211px #fff, 1814px 301px #fff,
    230px 178px #fff, 563px 1517px #fff, 659px 46px #fff, 1049px 52px #fff,
    1939px 1792px #fff, 1266px 314px #fff, 560px 1405px #fff, 1303px 1652px #fff,
    435px 67px #fff, 564px 1772px #fff, 651px 15px #fff, 114px 1352px #fff,
    1598px 1487px #fff, 1749px 1561px #fff, 573px 1605px #fff, 466px 876px #fff,
    1046px 12px #fff, 1346px 1347px #fff, 595px 857px #fff, 223px 488px #fff,
    366px 227px #fff, 1317px 531px #fff, 934px 24px #fff, 1976px 736px #fff,
    626px 541px #fff, 681px 662px #fff, 1252px 1101px #fff, 34px 1395px #fff,
    579px 989px #fff, 1884px 1784px #fff, 499px 448px #fff, 773px 868px #fff,
    1504px 1367px #fff, 515px 114px #fff, 1349px 223px #fff, 1794px 986px #fff,
    764px 1571px #fff, 1346px 1291px #fff, 1488px 1805px #fff,
    1346px 1492px #fff, 1842px 1655px #fff, 301px 10px #fff, 1108px 679px #fff,
    948px 1861px #fff, 1926px 75px #fff, 272px 1227px #fff, 442px 462px #fff,
    72px 536px #fff, 1024px 66px #fff, 849px 1768px #fff, 1083px 1146px #fff,
    272px 394px #fff, 1666px 1074px #fff, 1537px 62px #fff, 367px 32px #fff,
    496px 771px #fff, 479px 1753px #fff, 1471px 856px #fff, 1765px 1252px #fff,
    391px 1787px #fff, 1490px 91px #fff, 344px 1251px #fff, 251px 29px #fff,
    576px 129px #fff, 97px 1007px #fff, 597px 425px #fff, 84px 1257px #fff,
    641px 762px #fff, 1390px 1163px #fff, 1805px 1196px #fff, 1497px 462px #fff,
    602px 1742px #fff, 1391px 1324px #fff, 1090px 1017px #fff, 688px 1048px #fff,
    1591px 700px #fff, 259px 718px #fff, 1112px 1518px #fff, 1888px 1953px #fff,
    931px 1596px #fff, 1698px 360px #fff, 39px 1596px #fff, 474px 1942px #fff,
    399px 1239px #fff, 1858px 29px #fff, 485px 643px #fff, 442px 397px #fff,
    535px 1691px #fff, 848px 249px #fff, 22px 794px #fff, 1742px 494px #fff,
    1348px 708px #fff, 760px 362px #fff, 1421px 1481px #fff, 94px 1340px #fff,
    48px 1049px #fff, 1711px 1352px #fff, 650px 434px #fff, 1691px 1024px #fff,
    3px 1950px #fff, 1073px 1389px #fff, 1007px 897px #fff, 1788px 1058px #fff,
    1362px 164px #fff, 1742px 558px #fff, 1285px 1426px #fff, 1134px 377px #fff,
    1061px 143px #fff, 1080px 343px #fff, 1825px 1321px #fff, 1136px 1774px #fff,
    382px 1804px #fff, 556px 1533px #fff, 1119px 1072px #fff, 139px 898px #fff,
    300px 18px #fff, 876px 1211px #fff, 1823px 1299px #fff, 750px 267px #fff,
    1010px 1223px #fff, 890px 625px #fff, 359px 475px #fff, 106px 686px #fff,
    249px 1159px #fff, 389px 6px #fff, 960px 816px #fff, 1828px 352px #fff,
    241px 433px #fff, 1696px 397px #fff, 752px 1594px #fff, 1118px 976px #fff,
    889px 1067px #fff, 1179px 369px #fff, 61px 589px #fff, 234px 93px #fff,
    997px 1384px #fff, 726px 1787px #fff, 1099px 1928px #fff, 957px 1755px #fff,
    1891px 336px #fff, 864px 247px #fff, 815px 276px #fff, 1281px 566px #fff,
    1963px 1349px #fff, 1675px 1854px #fff, 1592px 1009px #fff, 1799px 53px #fff,
    1967px 877px #fff, 270px 1857px #fff, 936px 432px #fff, 693px 420px #fff,
    1403px 420px #fff, 308px 396px #fff, 578px 1923px #fff, 1096px 1270px #fff,
    414px 1247px #fff, 27px 233px #fff, 668px 612px #fff, 1521px 94px #fff,
    1848px 275px #fff, 1368px 72px #fff, 1683px 559px #fff, 798px 240px #fff,
    630px 1849px #fff, 568px 1100px #fff, 1305px 496px #fff, 97px 929px #fff,
    1143px 163px #fff, 1617px 585px #fff, 740px 1952px #fff, 559px 259px #fff,
    771px 1598px #fff, 171px 1201px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 967px 658px #fff, 1227px 100px #fff, 1267px 99px #fff,
    1804px 1309px #fff, 1301px 695px #fff, 1778px 1887px #fff, 47px 1463px #fff,
    1037px 1911px #fff, 13px 1953px #fff, 403px 1617px #fff, 27px 1609px #fff,
    1105px 1666px #fff, 1911px 209px #fff, 1933px 1826px #fff, 457px 1495px #fff,
    1539px 1186px #fff, 35px 1158px #fff, 1209px 854px #fff, 1674px 1857px #fff,
    1950px 315px #fff, 1875px 600px #fff, 745px 393px #fff, 667px 20px #fff,
    1284px 43px #fff, 756px 1917px #fff, 1373px 980px #fff, 39px 1495px #fff,
    943px 1819px #fff, 105px 28px #fff, 909px 236px #fff, 1798px 379px #fff,
    259px 1759px #fff, 1439px 1349px #fff, 1504px 1584px #fff, 643px 1063px #fff,
    1264px 1963px #fff, 164px 1522px #fff, 1728px 1269px #fff, 887px 1965px #fff,
    286px 571px #fff, 1204px 1726px #fff, 1605px 237px #fff, 896px 1637px #fff,
    606px 1735px #fff, 547px 1214px #fff, 1009px 1186px #fff, 246px 959px #fff,
    337px 1020px #fff, 1150px 512px #fff, 1292px 1319px #fff, 1432px 1892px #fff,
    367px 1042px #fff, 979px 268px #fff, 1737px 706px #fff, 744px 306px #fff,
    468px 130px #fff, 172px 1596px #fff, 1599px 593px #fff, 474px 1760px #fff,
    1838px 1664px #fff, 1614px 1644px #fff, 256px 688px #fff, 70px 371px #fff,
    28px 1654px #fff, 1601px 357px #fff, 941px 113px #fff, 1952px 1950px #fff,
    324px 767px #fff, 856px 1749px #fff, 1579px 16px #fff, 1292px 17px #fff,
    472px 1505px #fff, 304px 1973px #fff, 1128px 872px #fff, 1703px 1255px #fff,
    1356px 707px #fff, 189px 218px #fff, 1997px 445px #fff, 149px 1783px #fff,
    654px 1894px #fff, 1461px 1095px #fff, 974px 853px #fff, 581px 1292px #fff,
    1292px 54px #fff, 1680px 1393px #fff, 434px 731px #fff, 1460px 394px #fff,
    310px 1600px #fff, 1665px 395px #fff, 734px 746px #fff, 1813px 70px #fff,
    12px 163px #fff, 98px 1077px #fff, 378px 1709px #fff, 268px 1154px #fff,
    398px 1994px #fff, 985px 214px #fff, 830px 621px #fff, 31px 818px #fff,
    1319px 1537px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 967px 658px #fff, 1227px 100px #fff, 1267px 99px #fff,
    1804px 1309px #fff, 1301px 695px #fff, 1778px 1887px #fff, 47px 1463px #fff,
    1037px 1911px #fff, 13px 1953px #fff, 403px 1617px #fff, 27px 1609px #fff,
    1105px 1666px #fff, 1911px 209px #fff, 1933px 1826px #fff, 457px 1495px #fff,
    1539px 1186px #fff, 35px 1158px #fff, 1209px 854px #fff, 1674px 1857px #fff,
    1950px 315px #fff, 1875px 600px #fff, 745px 393px #fff, 667px 20px #fff,
    1284px 43px #fff, 756px 1917px #fff, 1373px 980px #fff, 39px 1495px #fff,
    943px 1819px #fff, 105px 28px #fff, 909px 236px #fff, 1798px 379px #fff,
    259px 1759px #fff, 1439px 1349px #fff, 1504px 1584px #fff, 643px 1063px #fff,
    1264px 1963px #fff, 164px 1522px #fff, 1728px 1269px #fff, 887px 1965px #fff,
    286px 571px #fff, 1204px 1726px #fff, 1605px 237px #fff, 896px 1637px #fff,
    606px 1735px #fff, 547px 1214px #fff, 1009px 1186px #fff, 246px 959px #fff,
    337px 1020px #fff, 1150px 512px #fff, 1292px 1319px #fff, 1432px 1892px #fff,
    367px 1042px #fff, 979px 268px #fff, 1737px 706px #fff, 744px 306px #fff,
    468px 130px #fff, 172px 1596px #fff, 1599px 593px #fff, 474px 1760px #fff,
    1838px 1664px #fff, 1614px 1644px #fff, 256px 688px #fff, 70px 371px #fff,
    28px 1654px #fff, 1601px 357px #fff, 941px 113px #fff, 1952px 1950px #fff,
    324px 767px #fff, 856px 1749px #fff, 1579px 16px #fff, 1292px 17px #fff,
    472px 1505px #fff, 304px 1973px #fff, 1128px 872px #fff, 1703px 1255px #fff,
    1356px 707px #fff, 189px 218px #fff, 1997px 445px #fff, 149px 1783px #fff,
    654px 1894px #fff, 1461px 1095px #fff, 974px 853px #fff, 581px 1292px #fff,
    1292px 54px #fff, 1680px 1393px #fff, 434px 731px #fff, 1460px 394px #fff,
    310px 1600px #fff, 1665px 395px #fff, 734px 746px #fff, 1813px 70px #fff,
    12px 163px #fff, 98px 1077px #fff, 378px 1709px #fff, 268px 1154px #fff,
    398px 1994px #fff, 985px 214px #fff, 830px 621px #fff, 31px 818px #fff,
    1319px 1537px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
